<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!--ALIAS CONTEXTO-->
  <alias alias="IUnitOfWork" type="Portales.Dal.IUnitOfWork, Portales.Dal" />
  <alias alias="Entities" type="Portales.Dal.Model.Entities, Portales.Dal" />

  <!--ALIAS REPOSITORIO-->
  <alias alias="IRepository" type="Portales.Repositorio.IRepository`1, Portales.Repositorio" />
  <alias alias="Repository" type="Portales.Repositorio.Repository`1, Portales.Repositorio" />

  <!--ALIAS SERVICIO-->
  <alias alias="IEntityService" type="Portales.Servicio.IEntityService`1, Portales.Servicio" />
  <alias alias="EntityService" type="Portales.Servicio.EntityService`1, Portales.Servicio" />  

  <container>

    <!--MAP CONTEXTO-->
    <register type="IUnitOfWork" mapTo="Entities" >
      <lifetime type="perresolve" />
    </register>

    <!--MAP REPOSITORIO-->
    <register type="IRepository[]" mapTo="Repository[]"/>
    
    <!--MAP SERVICIO-->
    <register type="IEntityService[]" mapTo="EntityService[]"/>

  </container>
</unity>