@{
    ViewBag.Title = "EnabledDisabled";
}
@*@section Breadcrumb
    {
        <ol class="breadcrumb global-header-breadcrumb">
            <li><a href="/Home">Documentación</a></li>

            <li class="active">Enable/ Disabled Panel</li>
        </ol>
    }*@
@*@section Toolbar
    {
        <div class="app-header">
            <div class="pull-right">
                <button class="btn btn-primary" id="btnPanel1">Deshabilitar Panel</button>
                <button class="btn btn-primary" id="btnPanel2">Habilitar Panel</button>
            </div>
        </div>
    }*@
<div class="uif-panel" data-title="Enabled/Disabled Panel" id="panel" data-disabled="true">
    <div class="uif-row">
        <div class="uif-col-6">

            <label>Input</label>
            <input type="text" placeholder="Campo">

        </div>
        <div class="uif-col-6">
            <label>TextArea</label>
            <textarea rows="10"></textarea>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <label>AutoComplete</label>
            <input class="uif-autocomplete" type="text" data-source="@Url.Action("AutoCompleteSource", "Documentation")" data-displaykey="Empresa" placeholder="Tipea las palabra Mir para probarlo." id="inputtest">
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <label>Select</label>
            <select class="uif-select form-control" id="select1" data-source="/Documentation/SelectSource" data-id="Id" data-name="Empresa"></select>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <label>MultiSelect</label>
            <select class="uif-multiselect form-control" id="select2" data-source="/Documentation/MultiselectSource" data-id="Id" data-name="Empresa" multiple="multiple"></select>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <label>InputSearch</label>
            <input type="text" class="uif-input-search" placeholder="Ingrese el criterio de busqueda aquí." id="inputSearch" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <table class="uif-table" data-source="/Documentation/GetRecords" id="tableMultiple" data-edit="true" data-delete="true" data-selectiontype="single" data-filter="true" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">Id</th>
                        <th data-property="Empresa">Empresa</th>
                        <th data-property="Ciudad">Ciudad</th>
                        <th data-property="Pais">País</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <label>DatePicker</label>
            <input type="text" class="uif-datepicker" data-mask="99/99/9999" id="datepicker" />
        </div>
    </div>
</div>










@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#btnPanel1").click(function () {
                $('#panel').UifPanel("disabled", true);
            });

            $("#btnPanel2").click(function () {
                $('#panel').UifPanel("disabled", false);
            });

        });
    </script>
}
