@{
    ViewBag.Title = "Home Page";
}
@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">


        <li class="active">Home</li>
    </ol>
}
<div class="jumbotron">
    <div class="container">
        <h1>Bienvenido a UIF2 Touch R2!</h1>
        <p>Podrá navegar por el menú documentación viendo los distintos controles provistos por el <strong>framework</strong>. Los mismos son controles <strong>JQUERY</strong> pensados para que su trabajo día a día sea mas <strong>simple</strong> y <strong>productivo</strong>. No dude en contactarse con el equipo de framework por cualquier duda que le surga.</p>
        <p>El framework lo hacemos entre todos, por lo que siempre son bienvenidas las sugerencias que puedan proponerse. </p>
        <p><a class="btn btn-primary " href="/Documentation/Tables" role="button">Comenzar »</a></p>
    </div>
</div>

