@{
    ViewBag.Title = "List";
}

<div class="uif-list">
    <ul class="nav">
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
        <li><a href="#">Texto 1</a></li>
    </ul>
</div>
