
@{
    ViewBag.Title = "RightBar";
}

<div class="uif-panel" data-title="SideBar">
    <div class="uif-row">

        <div class="uif-col-8"></div>

        <div class="uif-col-4">
            <div class="uif-right-bar">
                <ul>
                    <li>
                        <a href="#">Moneda</a>
                        <p>Pesos</p>
                    </li>
                    <li>
                        <a href="#">Tipo de negocio</a>
                        <p>
                            Coaseguro
                        </p>
                    </li>
                    <li>
                        <a href="#">Intermediario/comis</a>
                        <p>Delima Marsh 100%</p>
                    </li>
                    <li>
                        <a href="#">Plan de pagos</a>
                        <p>Pesos</p>
                    </li>
                    <li>
                        <a href="#">
                            Textos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Clausulas
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Beneficiarios
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Cargue
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>