
@{
    ViewBag.Title = "Summary";
}

<div class="uif-panel" data-title="Summary" id="panel">
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-summary">
                <div class="title">Resumen</div>
                <div class="items">

                    <div class="item">
                        <div>
                            <div>
                                Riesgos
                            </div>
                            <div>500</div>
                        </div>
                    </div>

                    <div class="item">
                        <div>
                            <div>
                                Suma
                            </div>
                            <div>$1.000.748</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>
                                Prima
                            </div>
                            <div>$545.789,74</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>
                                Gastos
                            </div>
                            <div>$545.789,74</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>
                                IVA
                            </div>
                            <div>$545.789,74</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>
                                Prima Total
                            </div>
                            <div>$545.789,74</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

