@{
    ViewBag.Title = "TableABM";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li><a href="/Home">Documentación</a></li>

        <li class="active">ABM con DataSource Remoto</li>
    </ol>
}
@section Modals
{
    <div class="uif-modal" id="modal2">
    </div>
}


<table class="uif-table" data-source="/Documentation/GetRecords" id="tableSingle" data-add="true" data-edit="true" data-delete="true">
    <thead>
        <tr>
            <th data-property="Id">Id</th>
            <th data-property="Empresa">Empresa</th>
            <th data-property="Ciudad">Ciudad</th>
            <th data-property="Pais">País</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts
{
    <script type="text/javascript">

        $('#tableSingle').on('rowAdd', function (event, data) {
            $('#modal2').UifModal('show', '/Documentation/Add', 'Titulo de la ventana');
        });

        function onAddComplete(data) {
            json = $.parseJSON(data.responseText);

            if (json.success) {
                $('#tableSingle').UifDataTable();
                $('#modal2').UifModal('hide');
            }
        }

        $('#modal2').on('buttonClick', '#inputSearch ', function (event, selectedText) {
            alert(selectedText);
        });
    </script>
}