<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
    @*<video width="640" height="480" controls="controls" autoplay="autoplay">
        <source src="/api/Values/GetVideo" type="video/webm">
    </video>*@
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            //function GetData() {
            //    $.ajax({
            //        traditional: true,
            //        type: "POST",
            //        url: "api/Values/PostClientsByName",
            //        dataType: "json",
            //        data: JSON.stringify("el"),
            //        contentType: "application/json; charset=utf-8"
            //    }).done(function (result) {
            //        console.log(result);
            //    });
            //}

            //function GetData() {
            //    $.ajax({
            //        type: "PATCH",
            //        url: "odata/Clients(15002)",
            //        dataType: "json",
            //        data: JSON.stringify({ "Name": "final de la copa america" }),
            //        contentType: "application/json; charset=utf-8"
            //    }).done(function (result) {
            //        console.log(result);
            //    });
            //}


            //setTimeout(function () {
            //    GetData();
            //}, 2000);

            //Create the XHR object.
            //function createCORSRequest(method, url) {
            //    var xhr = new XMLHttpRequest();
            //    if ("withCredentials" in xhr) {
            //        // XHR for Chrome/Firefox/Opera/Safari.
            //        xhr.open(method, url, true);
            //    } else if (typeof XDomainRequest != "undefined") {
            //        // XDomainRequest for IE.
            //        xhr = new XDomainRequest();
            //        xhr.open(method, url);
            //    } else {
            //        // CORS not supported.
            //        xhr = null;
            //    }
            //    return xhr;
            //}

            //// Helper method to parse the title tag from the response.
            //function getTitle(text) {
            //    return text.match('<title>(.*)?</title>')[1];
            //}

            //// Make the actual CORS request.
            //function makeCorsRequest() {
            //    // This is a sample server that supports CORS.
            //    var url = 'http://html5rocks-cors.s3-website-us-east-1.amazonaws.com/index.html';

            //    var xhr = createCORSRequest('GET', url);
            //    if (!xhr) {
            //        alert('CORS not supported');
            //        return;
            //    }

            //    // Response handlers.
            //    xhr.onload = function () {
            //        var text = xhr.responseText;
            //        var title = getTitle(text);
            //        alert('Response from CORS request to ' + url + ': ' + title);
            //    };

            //    xhr.onerror = function () {
            //        alert('Woops, there was an error making the request.');
            //    };

            //    xhr.send();
            //}

            $.ajax({

                // The 'type' property sets the HTTP method.
                // A value of 'PUT' or 'DELETE' will trigger a preflight request.
                type: 'GET',

                // The URL to make the request to.
                url: 'http://html5rocks-cors.s3-website-us-east-1.amazonaws.com/index.html',

                // The 'contentType' property sets the 'Content-Type' header.
                // The JQuery default for this property is
                // 'application/x-www-form-urlencoded; charset=UTF-8', which does not trigger
                // a preflight. If you set this value to anything other than
                // application/x-www-form-urlencoded, multipart/form-data, or text/plain,
                // you will trigger a preflight request.
                contentType: 'text/plain',

                xhrFields: {
                    // The 'xhrFields' property sets additional fields on the XMLHttpRequest.
                    // This can be used to set the 'withCredentials' property.
                    // Set the value to 'true' if you'd like to pass cookies to the server.
                    // If this is enabled, your server must respond with the header
                    // 'Access-Control-Allow-Credentials: true'.
                    withCredentials: false
                },

                headers: {
                    // Set any custom headers here.
                    // If you set any non-simple headers, your server must include these
                    // headers in the 'Access-Control-Allow-Headers' response header.
                },

                success: function () {
                    //alert('where you handle a successful response.');
                },

                error: function () {
                    // Here's where you handle an error response.
                    // Note that if the error was due to a CORS issue,
                    // this function will still fire, but there won't be any additional
                    // information about the error.
                }
            });

        });
    </script>
}
