<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="IRestApiService" type="Portales.Services.IRestApiService, Portales.Web" />
  <alias alias="RestApiService" type="Portales.Services.RestApiService, Portales.Web" />

  <container>

    <register type="IRestApiService" mapTo="RestApiService" name="DefaultConstructor">
      <constructor>
        <param name="serverAddress">
          <value value="urlWebApi" typeConverter="Portales.Web.Services.AppSettingsConverter, Portales.Web"/>
        </param>
      </constructor>
    </register>

  </container>
</unity>
